backend/.env
backend/db.sqlite3
backend/emailai/__pycache__/__init__.cpython-313.pyc
backend/emailai/__pycache__/settings.cpython-313.pyc
backend/emailai/__pycache__/urls.cpython-313.pyc
backend/emailai/__pycache__/wsgi.cpython-313.pyc
